body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow: hidden;
}

.filter{
    position: fixed;
    background-color: black;
    z-index: -1;
    opacity: .2;
    height: 100%;
    width: 100%;
}

svg{
    fill: white;
    color: white;
    height: 5vh;
    width: 5vh;
    transition: all .2s;
}

header a:hover svg{
    fill: lightslategray;
    color: lightslategray
}

header * {
    z-index: 1;
}

header>img{
    position: fixed;
    height: auto;
    width: 15vw;
    top: 2vh;
    left: 2vh;
}

.header-right-bar,
.header-bottom-right-container,
.header-top-right-container{
    display: flex;
    flex-direction: column;
}

.header-right-bar{
    height: calc(100vh - 4vw);
    position: fixed;
    right: 0;
    padding: 2vw;
    justify-content: space-between;
}

.header-bottom-right-container,
.header-top-right-container{
    height: calc((100vh - 4vw) / 2);
    gap: 5vh;
}

.header-bottom-right-container,
.header-top-right-container{
    justify-content: center;
}

/* MAIN */

main{
    height: 100%;
    display: flex;
}

section {
    height: 100vh;
    width: calc(60vw / 5);
    background-size: cover;
    background-position: center;
    transition: all .5s;
    position: relative;
}

.focused {
    width: 40vw;
}

.opened{
    width: 100vw;
}

.closed{
    width: 0;
}

.p-title{
    position: absolute;
    top: 80vh;
    width: 100%;
    color: white;
    text-align: center;
    opacity: 0;
    transition: all .2s;
    font-family: 'DINN Black';
}

.p-title.active{
    opacity: 1;
}

.back {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 50%;
    bottom: -15vh;
    transform: translate(-50%, -50%);
    transition: all .5s;
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.back:hover{
    animation: back-hover .2s forwards;
}

.back.active{
    bottom: 5vh;
}

@keyframes back-hover {
    from{
        transform: translate(-50%, -50%) scale(1);
    }
    75%{
        transform: translate(-50%, -50%) scale(1.4);
    }
    to{
        transform: translate(-50%, -50%) scale(1.25);
    }
}

.content{
    /*display: none;*/
    visibility: hidden;
    opacity: 0;
    height: 100%;
    width: 100%;
    position: relative;
    transition: all .2s;
}

.opened>.p-title{
    opacity: 0;
}

.opened>.content{
    display: flex;
    visibility: visible;
}

.content.active{
    opacity: 1;
}

/* HOME */

.home-video {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
}

.home .content h2{
    position: absolute;
    top: 45%;
    left: 20%;
    width: 100%;
    text-align: center;
    font-family: 'DINN Light';
    color: white;
    font-size: 3rem;
}

/* ABOUT */

.paragraph-container {
    position: absolute;
    top: 50%;
    width: 80%;
    left: 10%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: space-around;
    gap: 1vw;
    padding: 1vw;
}

.paragraph-container p {
    display: block;
    width: 20vw;
    font-size: 0.8rem;
    text-align: justify;
    font-family: 'DINN Light';
    color: black;
}
.about .content h2{
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: center;
    font-family: 'DINN Light';
    color: black;
    font-size: 3rem;
}

/* CHARCATERS */

.characters .content h2{
    position: absolute;
    top: 50%;
    left: 10%;
    text-align: center;
    font-family: 'DINN Light';
    color: white;
    font-size: 3rem;
}

.characters .carrousel-container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.characters .carrousel-container,
.characters .image-container{
    height: 70vh;
    width: 30vw;
    position: relative;
}

.characters img{
    position: absolute;
    opacity: 0;
    transition: all .2s;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.characters img.active{
    opacity: 1;
}

.characters .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(0,0,0,0.5) 100%);
    opacity: 0;
    transition: all .2s;
}

.characters .carrousel-container:hover .bg{
    opacity: 1;
}

.characters .arrow-left,
.characters .arrow-right{
    position: absolute;
    color: white;
    height: 10vh;
    transition: all .2s;
}

.characters .arrow-left{
    top: 50%;
    left: -10%;
    transform: translate(0%, -50%);
}

.characters .arrow-right{
    top: 50%;
    right: -10%;
    transform: translate(0%, -50%);
}

.characters .arrow-left:hover,
.characters .arrow-right:hover{
    transform: scale(1.2) translate(0%, -50%);
    cursor: pointer;
}

.characters h3{
    position: absolute;
    bottom: 1vh;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-family: 'DINN Light';
    opacity: 0;
    transition: all .2s;
}

.characters .carrousel-container:hover h3{
    opacity: 1;
}

/* PHOTOS&VIDEOS */

.video-images .content{
    position: relative;
}

.video-images .carrousel-container {
    width: 70vw;
    height: 70vh;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-images img {
    position: absolute;
    top:0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.video-images svg{
    height: 10vh;
    width: 10vh;
    fill: rgba(255, 255, 255, 0.3);
    position: absolute;
}

.video-images svg.arrow-left{
    top: 50%;
    left: -5vw;
    transform: translate(0, -50%);
}
.video-images svg.arrow-right{
    top: 50%;
    right: -5vw;
    transform: translate(0, -50%);
}

.video-images svg:hover{
    fill: rgba(255,255,255,0.7);
    cursor: pointer;
}

.video-images img:not(:first-of-type) {
    display: none;
}

.video-images div:nth-of-type(2) {
    position: absolute;
    top: 75%;
    width: 100%;
    text-align: center;
    margin-top: 5vh;
}

.video-images span {
    display: inline-block;
    width: 1.5vw;
    height: 1.5vw;
    margin: 0 1vw;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: all .2s;
}

.video-images span.active,
.video-images span:hover {
    background-color: rgba(255,255,255,0.7);
}

/* GEOLOC */

.find-cinema .content{
    position: relative;
}

.find-cinema #map{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(0, -50%);
    height: 70vh;
    width: 50vw;
}

.find-cinema .content h2{
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(0, 50%);
    text-align: center;
    font-family: 'DINN Light';
    color: white;
    font-size: 3rem;
}

.casting .content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.casting .content .crew-cards-container{
    height: 80vh;
    width: 30vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1vh;
    overflow: scroll;
}

.crew-cards-container::-webkit-scrollbar {
    display: none;
}

.casting .content .crew-cards-container .crew-card{
    position: relative;
}

.casting .content .crew-cards-container .crew-card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.crew-card .filter {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(0,0,0,0.5) 100%);
    opacity: 0;
    transition: all .25s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.crew-card h3 {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    bottom: 1vh;
    font-family: 'DINN Black';
    opacity: 0;
    transition: all .25s;
    z-index: 2;
    font-size: 0.75rem;
}

.crew-card:hover .filter,
.crew-card:hover h3{
    opacity: 1;
}

.casting .content .detail-crew-container{
    height: 80vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    background-color: rgba(255,255,255,0.2);
    padding: 1vh;
}

.detail-crew-container .banner {
    display: flex;
    justify-content: space-between;
}

.detail-crew-container .banner img{
    width: 10vw;
}

.detail-crew-container .banner h2 {
    font-family: 'DINN Black';
}
.detail-crew-container .banner h2,
.detail-crew-container .banner p,
.detail-crew-container .desc p{
    font-family: 'DINN Light';
    color: white;
}

.detail-crew-container .desc p{
    font-size: 0.75rem;
}

