body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    background-color: black;
}

header {
    top: 0;
    position: fixed;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 2vh 2vw;
    z-index: 3;
    width: 96vw;
    background-color: black;
}

header>img{
    height: 3vh;
}

.burger,
.burger-bar{
    opacity: 1;
}

.burger {
    width: 7.5vh;
    height: 5vh;
    cursor: pointer;
    top: 0;
    right: 0;
}

.bar-container{
    position: relative;
}

.burger .burger-bar{
    background-color: white;
    height: 1vh;
    position: absolute;
    width: 100%;
    left: 0;
    transition: all 0.2s ease;
}

.burger-bar.top {
    top: 0;
}
.burger-bar.middle {
    top: 2.5vh;
}
.burger-bar.bottom {
    top: 5vh;
}

.active .middle{
    opacity: 0;
}

.active .top,
.active .bottom{
    top: 2.5vh;
    background-color: red;
}

.active .top{
    transform: rotate(45deg);
}

.active .bottom{
    transform: rotate(-45deg);
}

.header-right-bar{
    position: absolute;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    transition: all .2s;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: -1;
}

.header-right-bar.active{
    left: 0;
}

.header-right-bar svg{
    height: 20vw;
    width: 20vw;
    fill: white;
    color: white;
}

.header-right-bar a {
    text-decoration: none;
}

.header-right-bar div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.content{
    display: none;
}

main{
    height: 200vh;
    display: flex;
    flex-direction: column;
    margin-top: 14vh;
}

main button{
    display: none;
}

main section{
    height: calc(200vh/6);
    background-size: cover;
    background-position: center;
    transition: all .5s;
    position: relative;
}

main>section>h2 {
    font-family: 'DINN Black', 'serif';
    font-size: 1.5rem;
    color: white;
    background-color: rgba(0,0,0,0.2);
    width: fit-content;
    padding: 1vh 2vw;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

main>.opened{
    height: 100vh;
}

main>.closed{
    height: 0;
}
