@font-face {
    font-family: 'DINN Black';
    src: url("../fonts/DINNextLTPro-Black.ttf");
}

@font-face {
    font-family: 'DINN Light';
    src: url("../fonts/DINNextLTPro-Light.ttf");
}

.burger,
.burger-bar{
    opacity: 0;
}

.home {
    background-image: url("../medias/images/04.jpg");
}

.about {
    background-image: url("../medias/images/dune-zendaya.jpeg");
}

.characters {
    background-image: url("../medias/images/dune-cast-scaled.jpeg");
}

.video-images {
    background-image: url("../medias/images/02.jpg");
}

.find-cinema {
    background-image: url("../medias/images/Dune04.webp");
}

.casting {
    background-image: url("../medias/images/12.jpg");
}

.thumbnail {
    position: fixed !important;
    width: 30vw !important;
    height: calc(15vw * 3 / 4) !important;
    left: 15% !important;
    z-index: 10;
    visibility: visible !important;
    top: 2vh !important;
    transform: none !important;
}

.thumbnail iframe{
    width: 100%;
}
